{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
</head>
<body>
    <center><header><h1>Productos</h1></header></center>
        <body>
            <header><h1>AMD</h1></header>
            <nav class="nav-var">
                <ul>
                    <li><a href="{% url 'index' %}"><mark>Inicio</mark></a></li>
                    <li><a href="{% url 'productos' %}">Productos</a></li>
                    <li><a href="{% url 'tienda' %}">Tienda</a></li>
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                    <li><a href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a></li>
                </ul>
            </nav>
            <br>

    <main>
        <center>
            <table>
                <thead><h2>Productos Destacados</h2></thead>
                <tr>
                    <th>Procesadores</th>
                    <th>Servidores</th>
                    <th>Tarjetas Graficas</th>
                </tr>
                <tr>
                    <td>  <center><img src="https://www.amd.com/content/dam/amd/en/images/products/processors/ryzen/2613900-ryzen-9-9950x-og.jpg" alt="https://www.amd.com/content/dam/amd/en/images/products/processors/ryzen/2613900-ryzen-9-9950x-og.jpg" width="300"><br>

                        <b>Los procesadores para gaming más rápidos del mundo³</b><br>&emsp;
                        
                        Solo los procesadores AMD Ryzen™ incluyen modelos con la exclusiva <i>tecnología AMD 3D V-Cache™</i> para aumentar el rendimiento de las experiencias de juego de forma considerable. AMD combina sus procesadores de alta gama Ryzen Serie 7000X3D, con hasta impresionantes 144 MB de memoria en chip.
                        </td></center>

                    <td> <center> <img src="https://www.amd.com/content/dam/amd/en/images/products/data-centers/2696428-epyc-server-teaser.jpg" alt="https://www.amd.com/content/dam/amd/en/images/products/data-centers/2696428-epyc-server-teaser.jpg" width="300"> <br>

                        <b>Mejora la productividad de tu empresa con AMD EPYC™</b><br>&emsp;
                        
                        La familia de procesadores AMD EPYC ofrece un rendimiento líder para cargas de trabajo empresariales, de HPC y de IA con funciones de seguridad avanzadas.</td></center>

                    <td><center><img src="https://hardzone.es/app/uploads-hardzone.es/2023/07/tarjeta-grafica-amd-radeon-rx-7000-series.jpg" alt="https://hardzone.es/app/uploads-hardzone.es/2023/07/tarjeta-grafica-amd-radeon-rx-7000-series.jpg" width="300"><br>

                        <b>Rendimiento de última generación</b><br>&emsp;
                        
                        Basadas en la innovadora arquitectura AMD RDNA™ 3, las tarjetas gráficas AMD Radeon™ RX Serie 7000 ofrecen rendimiento, imágenes y eficiencia de última generación.
                        </td></center>

                </tr>
            </table
        </center> <br>
    </main><br>
</body><br>
<center><footer>© 2024 Advanced Micro Devices, Inc.</footer></center>
</html>