{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
</head>
<body>
    <center><header><h1>Sobre nosotros</h1></header></center>
    <body>
        <header><h1> AMD</h1></header>
        <nav class="nav-var">
            <ul>
                <li><a href="{% url 'index' %}"><mark>Inicio</mark></a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a></li>
            </ul>
        </nav>br>
    <main>
        <center> <img src="https://www.amd.com/content/dam/amd/en/images/photography/corporate/2085403-amd-cr-collage-image-banner.jpg" alt="https://www.amd.com/content/dam/amd/en/images/photography/corporate/2085403-amd-cr-collage-image-banner.jpg" width="1758"></center>
        
        <center> <h2>Nuestra empresa</h2>
        <blockquote> <i>AMD</i> <abbr title="Advanced Micro Devices"></abbr> por su abreviatura de <b>Advanced Micro Devices</b> es una empresa de semiconductores que se dedica a la fabricación de microprocesadores o procesadores gráficos entre otros, para ámbito doméstico o empresarial. Su sede está en Santa Clara, California en los Estados Unidos y su CEO es Lisa Su.<br></blockquote>

        <article>AMD es el líder de computación de alto rendimiento y adaptable, que impulsa los productos y servicios que ayudan a resolver los desafíos más importantes del mundo. Nuestras tecnologías permiten avanzar en el futuro de los mercados de centros de datos, sistemas incorporados, experiencia de juego y PC.<br>

        Fundada en 1969 como una start-up de Silicon Valley, el viaje de AMD comenzó con decenas de empleados enfocados en productos semiconductoresde última generación. AMD se convirtió en una empresa global que establece el estándar de la computación moderna, con muchas innovaciones importantes en el sector y grandes logros tecnológicos a lo largo del camino.</article><br>
    <br></center>

        <center> <table>
        <tr>
            <th>Nuestra visión &emsp;</th>
            <th>Nuestra misión &emsp;</th>
        </tr>
        <tr>
            <td>La computación de alto rendimiento y adaptable están cambiando nuestras vidas.&emsp;</td>
            <td>Fabricar grandes productos que agilicen las experiencias de informática de última generación.&emsp;</td>
        </tr>
        <tr>
            <td colspan="2"> <br> <center>Para lograr un progreso real, es necesario que la innovación revolucionaria y el ingenio humano se unan para crear algo excepcional.</center></td>
        </tr>
        </table></center><br>

        <center><h3>Promoviendo la responsabilidad corporativa</h3>
        <i>Integramos la responsabilidad corporativa en todas las operaciones y comunidades para mantener el compromiso del lema Together We Advance_</i></center><br>
    </main><br>
    <br><center><footer>© 2024 Advanced Micro Devices, Inc.</footer></center>
</body>
<!---->Saludos<!---->
</html>